*{
    margin:0;
    padding:0;
    overflow-x: hidden
}

nav{
    background-color: palevioletred;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
li{
    list-style: none;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: aqua;
}
.mi_logo{
    height: 85px;
    width: 95px;
    border-radius: 20px;
    margin: 10px;
}
.css-button-sliding-to-left--sand {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #adb5bd;
    color: #adb5bd;
}
.css-button-sliding-to-left--sand:hover {
    color: #fff;
}
.css-button-sliding-to-left--sand:hover:after {
    width: 100%;
}
.css-button-sliding-to-left--sand:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #adb5bd;
}
.backgroundTitulo{
    display: flex;
    background-image: url(../imag/geometric-leaves.webp);
    margin: 5px;
    justify-content: center center;
    height: 80px;
    width: 100vw
}
.t-center{
    text-align: center;
}
/*mobile first*/
.header_Grid{
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 2px solid #333;
}
.nav{
    display:grid;
    grid-template-columns: 1fr;
    grid-row: auto auto auto;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.menu{
    justify-self: center;
}
.iniciaSesion{
    justify-self: center;
}
#main{
    display: grid;
    grid-template-columns: 1fr;
}
.d-nonesm{
    display: none;
}
.homeTitle{
    font-size: 32px;
}
footer {
    background-color: palevioletred;
    margin-top: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto{
    align-items: center;
}
.redSocial{
    width: 30px;
    height: 30px;
}
.buttonClik{
    align-items: center;
    justify-content: center;
}

/*Tablet and Desktop*/
@media (min-width:1028px){
h1{
    text-align: center;
    align-items: center;
    position:relative;
    left: 500px;
    top: 10px;
    margin: 5px;
}
.d-none{
    display: none;
}
.imagenContainer{
    display: flex;
    margin:10px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../imag/background-7123020_1920.jpg);
    height: 400px;
}
.imgIzq{
    display: flex;
    border-radius: 20px;
    box-shadow: 10px;
    height: 250px;
    width: 250px;
}
.imgCentro{
    display: flex;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow:10px;
    width: 350px;
    height: 350px;
}
.imgFlechas{
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 10px;
}
.backgroundText{
    display: flex;
    background-color: beige;
    height: auto;
    margin: 10px 10px 10px 10px;

}
.containerImg{
    display: flex;
    flex-direction:row;
    height: 400px;
    width: 100vw;
    justify-content: space-around;
    position: absolute;
    top: 3opx;
    left:60px;
}
.sectionContainer{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-image: url(../imag/geometric-leaves.webp);
}
h2{
    display: flex;
    position: center;
    text-align:center;
    padding: 50px;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}
.articleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
}
}
.tituloBackground{
    display: flex;
    background-image: url(../imag/geometric-leaves.webp);
}
.imgBio {
    display: flex;
    margin: 40px;
    height: auto;
    width:600px;
}
.textBio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    padding: 30px;
    margin: 40px;
    border-radius: 20px;
}
.bioContainer{
    display: flex;
    vertical-align: center;
    position:relative;
    justify-content: stretch;
}
.tituloContainer__Murales{
    text-align: center; 
    font-size: 60px ;
    padding: 10px;
    margin: 10px;
    background-image: url(/imag/cuadernoypincel.jpg);
    height: 100px;
    width: 100vw;
}
.imgMural{
    display: flex;
    margin: 20px;
    justify-content:center;
    height: 250px;
}
.listacontairMural{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-image:url(/imag/geometric-leaves.webp);
}
.imgDecorativa{
    display: flex;
    margin: 20px;
    background-image: url(../imag/background-7123020_1920.jpg);}

.imgZorro{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content:space-between;
}
.divMurlaes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}
.muralExterior{
    margin: 10px;
    height: 300px;
    width: 300px;
}
.divMurales{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.bakcgroundTitulo{
    display: flex;
    background-color: beige;
}
.containerContactos{
    display: flex;
    background-image: url(../imag/geometric-leaves.webp);
}
.containContacto{
    display: flex;
    background-image: url(/imag/background-7123020_1920.jpg);
    height: 300px;
    width: 100vw;
}
#form {
    border:1px solid palevioletred;
    width:250px;
    margin:auto;
}
#form legend{
    font-weight:bold;
    font-size:12px;
}
#form ol{
    list-style:none;
}
#form ol li{
    padding-bottom:5px;
}
#form ol li label{
    width:120px;
    float:left;
    text-align:left;
}
#form input[type=text] {
    border:1px solid #CCCCCC;
}
#form input.btn {
    padding:3px;
    color:#FFFFFF;
    background-color:palevioletred;
    border:1px solid #000000;
}
.backgroundForm{
    display: flex;
    background-image: url(/imag/background-7123020_1920.jpg);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font);
    color: var(--font-color);
}
.container__faq {
    width: 1200px;
    margin: auto;
}
.text__faq {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 50px;
}
.text__faq h2 {
font-family: var(--font);
    font-size: 56px;
    letter-spacing: 5px;
    color: black;
    margin-bottom: 30px;
}
.container__lists {
    display: flex;
    justify-content: space-around;
}
.container__column1,
.container__column2 {
    width: 500px;
}
dt{
    font-weight: 700;
    margin: 20px 0px;
}